PORT=3000
DB_URL=mongodb://127.0.0.1:27017/mestodb
JWT_SECRET=MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBANMN39bq++vsieTBLz/lvDwmCzw7YAuP0rFtv8DIhF7Id41su60iJeCezYfwzZXYS0EOHxtI4wowyge6+kgVn9qeaMXtWYY1+k465SxKkfONKFa/DkrrhLAkMUTH3xANCyVHTWaw8bhCF6OTehrxK5eHp3stPgrr7FMjL8MIXciRAgMBAAECgYEAoxSFcbwBDTupEWl06RrLaG69H72BaW2okBENqhlGrzaXql/qZM2OFxKeHfyj3rVS8OHIh3y6cpVghrijzC9pZExm64PfWWMZlC/TYMSiC2ozZgV/DWMjUnXi7CFAFddcI1mqb4df/6HJbsBnif7I7AX6rRxys3ovpnjAEYquPkECQQD1ORiEkDQlK7amDQX92lhy8vBL2C45hOTSzO3lvKBTNTL3MbUnvk36AtUQDX2dz+Vwd+ArDGkn09eS6mJ6KgyLAkEA3FRb52WahqQXQDNib/f9ZW/1pt78FnRSGywIkN1TN4VAGDpiGRjZfS07LDLkJgxLDI5jABeBq6cUOzpn3JSW0wJAdQ2bAXQgH/ocxmiDCqiV/dCvGVUIw5YG8AS4Lih60x0axdopYd46NHPzpiT6aEEbgTMHgyT6cPNy/IL7HNtDfwJAGnEBSobWAZyFsc243YkcXuUNzQXrqOIyzFH/gSsehoY2R/IRvcNOrogUFtzQpoRJKWuZE/S+OhRmCCmdN0qZwwJAdDx4BnKjoJKWrjYj/R4580B7+4b7w+lEj6OuJeuMi6BtGzBenYTWVTeevfCOXuMfhkCiEobAWb6Vch7WkQw+lw==